NEXT_PUBLIC_API_BASE_URL=https://unify-backend-unify-backend-code.a4hn6b.easypanel.host
NEXT_PUBLIC_API_ALLOWED_HOSTS=unify-backend-unify-backend-code.a4hn6b.easypanel.host
NEXT_PUBLIC_UPLOAD_ALLOWED_HOSTS=
